/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd=party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/clock.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';
@import '../components/button.css';

/* CUSTUM STYLE BELOW THIS COMMENT LINE*/

/* hero */
.hero {
    padding-bottom: 30px;
    min-height: 100vh;
    background-image: url(../../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.hero > .short-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.logo {
    object-fit: contain;
    object-position: center;
    width: 100%s;
    height:40px;
}

.main-title {
font-size: 60px;
text-transform: uppercase;
letter-spacing: -4px;
}

.main-description {
    font-size: 18px ;
}

/* main */


/* footer */

footer.container {
padding-top: 0;
}
footer > .row {
    position: relative;
}
.socials {
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.socials > a {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transform: all 0.3s;
}
.socials > a:hover {
    background-color: #fff;
    color: #02A9F3;
}
.back-to-top {
    position: absolute;
    top: 0;
    right: 0;
}