/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd=party */
/* components */

/* CUSTUM STYLE BELOW THIS COMMENT LINE*/


/* hero */
.hero {
    padding-bottom: 30px;
    min-height: 100vh;
    background-image: url(../../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero > .short-row {
    display: flex;
    flex-direction: column;
    object-position: center;
    gap: 30px;
    text-align: center;
}

.logo {
    object-fit: contain;
    object-position: center;
    width: 100%s;
    height: 40px;
}

.main-title {
font-size: 60px;
text-transform: uppercase;
letter-spacing: -4px;
}

.main-description {
    font-size: 18px ;
}

/* main */


/* footer */

footer.container {
padding-top: 0;

}