/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd=party */
/* components */

/* CUSTUM STYLE BELOW THIS COMMENT LINE*/


/* hero */
.hero {
    padding-bottom: 30px;
}
.hero > .short-row {
    display: flex;
}

.logo {
    object-fit: contain;
    object-position: center;
    width: 100%s;
    height: 40px;
}


/* main */


/* footer */

footer.container {
padding-top: 0;

}